.idea
/bitrix
/upload
/local/import/
!/local/import/run.php
!/local/import/delete_all_elements.php
!/robots.txt
/*.html
~*.php
*.log
*.xml
/*.sql
*.zip
*.tar.gz
*.gz
*.tar
*.bak
*.old
*~
Thumbs.db
.DS_Store
._.DS_Store
/nbproject
.vscode-upload.json
*.komodo*
*.project*
.user.ini